<div class="row">
  <div class="col-12">
    <p class="fw-bold mb-3">
      Situazione Dei Territori
    </p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="card border-info">
      <div class="card-header">
        <strong>
          Gorizia
        </strong>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <h6>G</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-3">
    <strong>
      Pordenone
    </strong>
  </div>
  <div class="col-3">
    <strong>
      Trieste
    </strong>
  </div>
  <div class="col-3">
    <strong>
      Udine
    </strong>
  </div>
</div>
