<div class="row">
  <div class="col-12">
    <h4>
      <%= image_tag("dashboard/dashboard_logo.svg", class: "img-fluid") %>
      &emsp;
      <i class="fw-bold">
        Andamento 
      </i>
    </h4>
  </div>
</div>
<hr class="text-secondary"/>
<%= render "comparazione" %>
<hr class="text-secondary"/>
<%= render "progressione" %>
<hr class="text-secondary"/>
<%= render "territori" %>
<hr class="text-secondary"/>